# # # # # # # # # # # # # # # # # # # # #
#        Node Server [API Server]       #
# # # # # # # # # # # # # # # # # # # # #

# 실행 환경
#   - 개발: development
#   - 테스트: test
#   - 배포: production
NODE_ENV=development
# Node 서버 포트
PORT=3000

# JWT 시크릿
JWT_SECRET=64-byte-secret-64-byte-secret-64-byte-secret-64-byte-secret

# bcrypt salt rounds
BCRYPT_SALT_ROUNDS=10

# SMS API 실제 사용 여부
SMS_API_ENABLED=false


     
# # # # # # # # # # # # # # # # # # # # #
#        Python Worker [FastAPI]        #
# # # # # # # # # # # # # # # # # # # # #

# Docker Compose 내부에서 localhost 대신 service 이름을 hostname로 설정
# > compose 내부에 있는 docker-network를 사용
WORKER_URL=http://routing-worker:8000

# 로컬용 WORKER_URL
# WORKER_URL=http://localhost:8000




# # # # # # # # # # # # # # # # # # # # #
#               데이터베이스              #
# # # # # # # # # # # # # # # # # # # # #

# Docker Compose 내부에서 서버/워커 -> database:5432 로 통신
DATABASE_URL=postgresql://postgres:1234@database:5432/runstop

# 로컬용 WORKER_URL
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/runstop

POSTGRES_DB=runstop
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
